asgiref==3.8.1
certifi>=2025.1.31
charset-normalizer==3.3.2
cycler==0.12.1
dj-database-url==2.1.0
django-paypal==2.1
findspark==2.0.1
graphviz==0.20.3
idna==3.7
joblib==1.4.2
kiwisolver==1.4.7
matplotlib==3.9.2
numpy==2.0.0
opencv-python==4.10.0.84
pandas==2.2.2
Pillow==10.3.0
pyparsing==3.1.2
pyspark==3.5.1
python-dateutil==2.9.0.post0
requests==2.32.3
scikit-learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
six==1.16.0
soupsieve==2.5
SpeechRecognition==3.10.4
threadpoolctl==3.5.0
urllib3==2.2.1
wikipedia==1.4.0
whitenoise==6.7.0